body
{
	background-color:#FFF;
	font-family: 'Ubuntu Condensed', sans-serif;
}

#apply input:focus + .errorMessage {
    display: none !important;
}

.phone {
    text-align: right;
    font-size: 46px;
    font-family: PFDinTextThin;
    padding-right: 20px;
    padding-top: 110px;
    color: #fff;
}

.errorMessage {
    position: absolute;
    background: #EFA900;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    top: 315px;
    left: 40px;
    z-index: 10;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.1);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.1);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.1);
}
.errorMessage:before {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #EFA900 transparent;
    top: -5px;
    left: 15px;
    position: absolute;
    content: '';
}

.clearfix:after {
	clear: both;
	display: table;
	content: ' ';
}

.wrap {
	width: 1050px;
	margin: 0 auto;
	overflow: hidden;
}

.thanx {
	font-size: 24px;
	padding: 20px 0;
	text-align: center;
}

.policy a {
	color: #222;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.head {
	height: 570px;
	background: url(../img/devka6.jpg) no-repeat top center;
	background-size: auto 100%;
}

.akc {
    background: url(../img/car.jpg) no-repeat top center;
    background-size: auto 100%;
}

.head .logo-line {
	background: rgba(11,120,211, 0.5);
	height: 85px;
}

.head .logo-line .wrap {
	padding: 15px 0;
}

.head .wrap {
	position: relative;
}

#logo {
	width: 501px;
	height: 55px;
	background: url(../img/logo.png) no-repeat 0 0;
}

.head .tagline {
	padding: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.head .tagline h3 {
	text-transform: uppercase;
	font-size: 40px;
	color: #444; 
}

.head .tagline .p {
	font-size: 34px;
	color: #DB3B3B;
    padding: 0;
}

.head .tagline small {
	font-size: 30px;
}

.head .tagline span {
	font-size: 44px;
}

.head .tagline .note {
	font-size: 14px;
	color: #000;
}

.head .shortform {
	padding: 120px 0 0 20px;
}

.shortform input[type=text] {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #465A8E;
    text-shadow: 0px 1px 1px #FFF;
    font-size: 36px;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 4px rgba(11,120,211, 0.5);
    -moz-box-shadow: 0px 0px 0px 4px rgba(11,120,211, 0.5);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(11,120,211, 0.5);
    box-sizing: border-box;
    width: 380px;
}

.head .shortform .submitbtn {
	padding: 20px 0;
}

.button {
	width:380px;
	height:74px;
	line-height:74px;
	background-image: linear-gradient(top, rgba(247,28,54,1) 40%, rgba(253,60,61,1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(247,28,54,1) 40%, rgba(253,60,61,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(247,28,54,1) 40%, rgba(253,60,61,1) 100%);
	background-image: -o-linear-gradient(top, rgba(247,28,54,1) 40%, rgba(253,60,61,1) 100%);
	font-family: 'Ubuntu Condensed', sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 34px;
	border: none;
	background-color: #E52030;
	letter-spacing: -0.02em;
	border-radius: 3px;
    box-shadow: 0px 0px 0px 4px rgba(11,120,211, 0.5), inset 0px 2px 2px rgba(255,255,255, 0.5);
    -moz-box-shadow: 0px 0px 0px 4px rgba(11,120,211, 0.5), inset 0px 2px 2px rgba(255,255,255, 0.5);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(11,120,211, 0.5), inset 0px 2px 2px rgba(255,255,255, 0.5);
    box-sizing: border-box;
    cursor: pointer;
}

.head .shortform input[type=text] {
	font-size: 30px;
    padding: 10px 15px;
}

.head .shortform .button {
	font-size: 30px;
	height: 57px;
	line-height: 57px;
}

.ubuntu {
	font-family: 'Ubuntu Condensed', sans-serif;
}

.comforta {
	font-family: 'Comfortaa', cursive;
}

.condensed {
	letter-spacing: -0.05em;
}

.advantages {
	margin-bottom: 30px;
	margin-top: -30px;
}

.advantages h2 {
	text-align: center;
	font-size: 46px;
	color: #177FD7;
}

.advantages .row {
	margin: 0 -30px;
}

.advantage {
	width: 215px;
	margin: 30px;
	float: left;
	padding-top: 130px;
	text-align: center;
	background: url(../img/alt-i1.jpg) no-repeat top center;
}

.advantage.a2 {
	background-image: url(../img/alt-i2.jpg);
}

.advantage.a3 {
	background-image: url(../img/alt-i3.jpg);
}

.advantage.a4 {
	background-image: url(../img/alt-i4.jpg);
}

.a1:hover {
    background-image: url(../img/alt-i1-1.jpg);
}

.a2:hover {
    background-image: url(../img/alt-i2-1.jpg);
}

.a3:hover {
    background-image: url(../img/alt-i3-1.jpg);
}

.a4:hover {
    background-image: url(../img/alt-i4-1.jpg);
}

.advantage h3 {
	font-size: 24px;
	margin-bottom: 15px;
	color: #666;
}

.advantage p {
	font-family: 'Comfortaa', cursive;
	color: #999;
}

.colours .img {
	width: 978px;
	height: 180px;
	background: url(../img/colors.png) no-repeat 0 0;
	margin: -10px auto 20px auto;
}

.colours h2 {
	text-align: center;
	font-size: 38px;
	color: #177FD7;
}

.colours p {
	font-family: 'Comfortaa', cursive;
	color: #999;
	width: 400px;
	margin: 40px auto;
	background: url(../img/arr1.png) no-repeat right bottom;
	padding: 0 30px 30px 30px;
	text-align: center;
}

.shortform.horizontal {
	width: 780px;
	margin: 0 auto;
	padding-bottom: 5px;
}

.shortform.horizontal .input {
	float: left;
	width: 380px;
}

.shortform.horizontal .submitbtn {
	float: right;
	width: 380px;
}

.shortform.horizontal .errorMessage {
	clear: both;
	padding-top: 20px;
	text-align: center;
}

.feedbacks {
	background: url(../img/feedbacks.png) no-repeat top center;
	padding: 140px 0;
	margin: -20px 0 -60px 0;
}

.feedbacks h2 {
	text-align: center;
	font-size: 46px;
	color: #fff;
}

.feedbacks .review {
	width: 930px;
	margin: 0 auto;
	padding: 20px 0;
}

.feedbacks .review .photo {
	width: 170px;
	float: left;
}

.feedbacks .review .text {
	margin-left: 175px;
	margin-top: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 4px solid #177FD7;
	background: #EEEEEE;
	text-indent: 10px;
	padding: 5px 20px;
	font-family: arial, tahoma;
	font-size: 14px;
	color: #666;
	line-height: 130%;
}

.feedbacks .review .text p {
	margin-bottom: 10px;
}

.feedbacks .review .text span {
	color: #177FD7;
}

.feedbacks .slider {
	width: 930px;
	margin: 0 auto;
}

.foursteps h2 {
	text-align: center;
	font-size: 48px;
	color: #177FD7;
	width: 600px;
	margin: 40px auto;
	background: url(../img/arr2.png) no-repeat 90% bottom;
	padding-bottom: 95px;
	margin-bottom: -40px;
}

.foursteps .graph {
	position: relative;
	height: 889px;
	margin-bottom: 20px;
}

.foursteps .graph .axis {
	width: 139px;
	height: 889px;
	background: url(../img/steps.png) no-repeat top center;
	position: absolute;
	left: 50%;
	margin-left: -70px;
	z-index: 10;
}

.foursteps .graph .step {
	width: 50%;
	height: 208px;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	color: #444;
}

.foursteps .graph .step.step4 {
	margin-top: -14px;
}

.foursteps .graph .step.step-red .leaf {
	color: #fff;
	background-color: #E72B31;
}

.foursteps .graph .step-left {
	margin-right: 50%;
}

.foursteps .graph .step-right {
	margin-left: 50%;
}

.foursteps .graph .step .leaf {
	border: 4px solid #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 15px 20px;
	position: relative;
	top: 62px;
	display: block;
	text-decoration: none;
}

.foursteps .graph .step .branch {
	border-bottom: 4px solid #000;
	height: 50%;
	width: 25%;
}

.foursteps .graph .step-left .leaf {
	margin-right: 25%;
}

.foursteps .graph .step-right .leaf {
	margin-left: 25%;
}

.foursteps .graph .step-left .branch {
	float: right;
}

.foursteps .graph .step-right .branch {
	float: left;
}

.foursteps .graph-inner {
	padding-top: 33px;
}

/* slider */
.slider {
	position: relative;
}

.slider .slider-nav {
	position: absolute;
	width: 49px;
	height: 49px;
	top: 50%;
	margin-top: -40px;
	background: url(../img/slider-nav.png) no-repeat 0 0;
	display: block;
	text-decoration: none;
}

.slider .slider-next {
	background-position: right top;
	right: -54px;
}

.slider .slider-prev {
	background-position: left top;
	left: -54px;
}

.slider .slider-content {
	width: 100000px;
}

.slider .slider-item {
	float: left;
}

.slider .slider-view-port {
	overflow: hidden;
}

.footer {
	background-image: linear-gradient(left, rgba(51,95,154,1) 0%, rgba(102,167,204,1) 100%);
	background-image: -webkit-linear-gradient(left, rgba(51,95,154,1) 0%, rgba(102,167,204,1) 100%);
	background-image: -moz-linear-gradient(left, rgba(51,95,154,1) 0%, rgba(102,167,204,1) 100%);
	background-image: -o-linear-gradient(left, rgba(51,95,154,1) 0%, rgba(102,167,204,1) 100%);
	margin-top: 5px;
}

.footer-inner {
	background: url(../img/footbg.png) no-repeat top center;
	height: 300px;
	position: relative;
}

.footer-inner .logo {
	width: 501px;
	height: 55px;
	background: url(../img/logo.png) no-repeat 0 0;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	top: 225px;
}

.footer-inner .copy {
	bottom: 60px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-family:  arial, tahoma; 
	position: absolute;
}

.footer-inner .copy span {
	color: #22FD98;
}

#callback,
#callbackcomplete
{
	font-family: 'Ubuntu Condensed', sans-serif;
	width: 444px;
	text-align:center;
}

#callback p.title,
#callbackcomplete p.title
{
	font-size:35px;
	padding-top:10px;
}

.thnx {
	text-align: center;
}

.thnx p.title {
	font-size:35px;
	padding-top:10px;
	padding-bottom:10px;
}

#formcallback input[type=text],
#formcallbackcomplete input[type=text]
{
	width:359px;
	height:49px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;
	margin-top:20px;
	padding-left:25px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:20px;
}

#formcallback input[type=submit],
#formcallbackcomplete input[type=submit]
{
	width:272px;
	height:68px;
	line-height:60px;
	margin-top:20px;
	margin-bottom:20px;
	border:0;
}

#formcallback input[type=submit]:hover,
#formcallbackcomplete input[type=submit]:hover
{
	opacity:0.9;
	cursor:pointer;
}

@media only screen and (max-width: 1100px) {
	.wrap {
		width: 900px;
	}
	.colours .img {
		width: 90%;
		margin: 0 auto;
		background-size: 100% auto;
		-moz-background-size: 100% auto;
		-webkit-background-size: 100% auto;
	}
	.advantages .row {
		margin: 0 -15px;
	}
	.advantage {
		width: 202px;
		margin: 30px 15px;
	}
	.feedbacks .slider {
		width: 860px;
	}
	.feedbacks .review {
		width: 860px;
	}
}

@media only screen and (max-width: 926px) {
	.wrap {
		width: 800px;
	}
	.head .tagline h3 {
		font-size: 40px;
	}
	.advantage {
		width: 385px;
	}
	.advantage:nth-child(2n+1) {
		clear: both;
	}
	.advantage p {
		padding-left: 50px;
		padding-right: 50px;
	}
	.feedbacks .slider {
		width: 760px;
	}
	.feedbacks .review {
		width: 760px;
	}
}

@media only screen and (max-width: 820px) {
	.wrap {
		width: 700px;
	}
	.advantage {
		width: 335px;
	}
	.feedbacks .slider {
		width: 660px;
	}
	.feedbacks .review {
		width: 660px;
	}
	.shortform.horizontal .input {
		float: none;
	}
	.shortform.horizontal .submitbtn {
		float: none;
		margin-top: 25px;
	}
	.shortform.horizontal {
		width: 380px;
	}
	.footer-inner .logo {
		left: auto;
		right: 20px;
		margin: 0;
	}
}

@media only screen and (max-width: 768px) {
	.wrap {
		width: 600px;
	}
	.advantage {
		width: 285px;
	}
	.advantage p {
		padding-left: 20px;
		padding-right: 20px;
	}
	.feedbacks .slider {
		width: 560px;
	}
	.feedbacks .review {
		width: 560px;
	}
	.colours .img {
		height: 120px;
	}
	.feedbacks .review {
		padding: 10px 0;
	}
	.feedbacks .review .text {
		margin-top: 0;
	}
	.foursteps .graph .axis {
		left: 0;
		margin-left: 0;
	}
	.foursteps .graph .step {
		width: 90%;
	}
	.foursteps .graph .step-right,
	.foursteps .graph .step-left {
		margin-left: 10%;
		margin-right: 0;
	}
	.foursteps .graph .step-left .branch {
		float: left;
	}
	.foursteps .graph .step-left .leaf {
		margin-left: 25%;
		margin-right: 0;
	}
}

@media only screen and (max-width: 640px) {
	#logo {
		width: 90%;
		margin: 0 auto;
		background-size: 100% auto;
		-moz-background-size: 100% auto;
		-webkit-background-size: 100% auto;
	}
	.head .tagline h3 {
		font-size: 25px;
	}
	.head .tagline small {
		font-size: 16px;
	}
	.head .tagline .p {
		font-size: 20px;
	}
	.head .tagline span {
		font-size: 24px;
	}
	.head .tagline .note {
		font-size: 12px;
	}
	.head {
		height: auto;
		background-size: auto 600px;
		background-position: bottom center;
	}
	.head .shortform {
		padding: 93px 0 90px 4px;
	}
	.wrap {
		width: 400px;
	}
	.advantage {
		width: 285px;
	}
	.advantage p {
		padding-left: 20px;
		padding-right: 20px;
	}
	.feedbacks .slider {
		width: 360px;
	}
	.feedbacks .review {
		width: 360px;
	}
	.shortform input[type=text] {
		font-size: 30px;
		padding: 10px 15px;
	}
	.colours .img {
		height: 90px;
	}
	.button {
		width: 380px;
		height: 57px;
		line-height: 57px;
		font-size: 30px;
	}
	advantages h2 {
		font-size: 36px;
	}
	.colours h2 {
		font-size: 30px;
	}
	.feedbacks h2 {
		font-size: 36px;
	}
	.colours p {
		width: 100%;
		background: none;
		padding: 0;
	}
	.foursteps h2 {
		font-size: 38px;
		padding: 0 0 40px 0;
		width: 100%;
		background: none;
	}
	.advantage {
		width: 285px;
		margin: 20px auto;
		float: none;
	}
	.feedbacks .review .photo {
		display: none;
	}
	.feedbacks .review .text {
		margin-left: 0;
	}
	.footer-inner .logo {
		width: 90%;
		background-size: 100% auto;
		-moz-background-size: 100% auto;
		-webkit-background-size: 100% auto;
		right: 5%;
	}
	.foursteps .graph .step-left .leaf,
	.foursteps .graph .step-right .leaf {
		margin-left: 35%;
		font-size: 16px;
	}
	.foursteps .graph .step .branch {
		width: 35%;
	}
}

@media only screen and (max-width: 496px) {
	.wrap {
		width: 360px;
	}
	.feedbacks .slider {
		width: 360px;
	}
	.feedbacks .review {
		width: 360px;
	}
	.shortform input[type=text] {
		width: 350px;
		margin: 0 auto;
		display: block;
	}
	.button {
		width: 350px;
		margin: 0 auto;
		display: block;
	}
	.button span {
		display: none;
	}
	.shortform.horizontal .input {
		width: 350px;
		margin: 15px auto;
		display: block;
	}
	.shortform.horizontal .submitbtn {
		width: 350px;
		margin: 15px auto;
		display: block;
	}
	.shortform.horizontal {
		width: 100%;
	}
	#formcallback input[type="text"],
	#formcallbackcomplete input[type="text"] {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#callback,
	#callbackcomplete
	{
		width: auto;
		text-align:center;
	}
	#formcallback input[type="submit"],
	#formcallbackcomplete input[type="submit"] {
		width: 220px;
		margin: 20px auto;
		font-size: 24px;
	}
	#callbac
	#callback p.title,
	#callbackcomplete p.title {
		font-size: 28px;
		line-height: 100%;
	}
}
