header, nav, section, article, aside, footer {
    display: block;
}
body{
    margin: 0;
}
.wrapper {
    width: 980px;
    padding: 20px 10px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h3 {
    font-family: Ubuntu;  
    color:  #273449;  
    font-size: 30px; 
    font-weight: 700;  
    text-align: center;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    
}

nav {
    height: 80px;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
}
nav .logo {
    float: left;
}
nav span {
    font-family: Ubuntu;  
    color: #192437;  
    font-size: 24px;  
    font-weight: 700;  
    text-align: center;  
    width: 52px;  
    height: 19px;
    position: relative;
    right: 19px;
    bottom: 10px;
}
nav ul {
    overflow: hidden;
    width: 440px;
    float: left;
    margin: 10px 0px 0 100px;
}
nav li {
    float: left;
    margin: 0 8px;
}
nav a {
    font-family: Ubuntu;  
    color: #4a4a4a; 
    font-size: 14px; 
    font-weight: 700;  
    text-align: left; 
    width: 379px; 
    height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
nav a:hover {
    text-decoration: none;
}



nav .log_in {
    border-radius: 3px; 
    background: -webkit-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%); 
    background: -moz-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%);
    background: -o-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%); 
    background: -ms-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%); 
    background: linear-gradient(0deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%);  
    width: 100px; 
    height: 30px;
    border: solid 1px #D5D5D5;
    font-family: Ubuntu; 
    color: #4a4a4a; 
    font-size: 14px; 
    font-weight: 700;
    margin-left: 10px;
   /*text-decoration: none;*/
}

nav .register {
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    background-color: #d54139;
    width: 180px;  
    height: 30px;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;     
    border: none;
    font-family: Ubuntu;  
    color: #fff;  font-size: 14px;        
    font-weight: 700;
    margin-left: 10px;
}
.main {
    padding-top: 80px;
}
.main .wrapper {
    background: url(../img/main_bg_1.jpg);
    height: 398px;
    padding-top: 150px;
}
.main h1 {
    font-family: Ubuntu; 
    color:  #ffffff;  
    font-size: 36px;  
    font-weight: 700; 
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.49);
}
.main h2 {
    font-family: Ubuntu; 
    color:  #ffffff; 
    font-size: 27px;  
    font-weight: 300; 
    text-align: center;
    margin-top: 38px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.49);
}
.main span {
    font-family: Ubuntu; 
    color:  #ffffff; 
    font-size: 27px;   
    font-weight: bold;  text-align: center;
    display: block;
    margin-top: 38px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.49);
}
.main .sec {
    font-family: Bad Script;
    color: #ffffff; 
    font-size: 22px;
    font-weight: 400; 
    text-align: center; 
    width: 92px; 
    height: 53px;
    float: left;
    line-height: 24px;
    position: relative;
    left: 140px;
    top: 26px;
}
.main .free {
    font-family: Bad Script; 
    color: #ffffff; 
    font-size: 36px; 
    font-weight: 400; 
    text-align: center;  
    width: 203px; 
    height: 80px;
    float: right;
    line-height: 40px;
    position: relative;
    top: 19px;
    right: 10px;
}
.main button {
    border-radius: 4px;  
    background-color: #D5423A; 
    width: 350px;  height: 70px;
    position: relative;
    top: 45px;
    left: 220px;
    border: none;
    font-family: Ubuntu;  color: #ffffff;  
    font-size: 27px;  font-weight: 700; 
    text-align: center;    
    text-shadow: 1px -1px 2px #A4ABB6;
}
.main button:hover {
    box-shadow: 0px 0px 14px 0.00px #000000;
}
.functional {
}
.functional .wrapper {
    padding-top: 80px;
}

.functional ul {
    margin-top: 70px;
    overflow: hidden;
}
.functional li {
    width: 235px;
    text-align: center;
    float: left;
    margin: 0px 5px 0;
    min-height: 350px;
}
.functional span {
    display: block;
    font-family: Ubuntu;
    color:  #1f1f1f; 
    font-size: 16px;  
    font-weight: bold;
    min-height: 37px;
    padding: 0 10px;
    margin-top: 15px;
}
.functional p {
    font-family: Ubuntu;
    color:  #7e7e7e; 
    font-size: 14px; 
    font-weight: 400; 
    text-align: center;
    padding: 0 10px;
    margin-top: 23px;
}
.detail {
    background: url(../img/grey_bg.jpg);
}
.detail .wrapper{
    padding: 62px 0 50px;
    
}
.reasons {
}
.reasons .wrapper {
    padding-top: 80px;
    padding-bottom: 95px;
}

.reasons ul {
    overflow: hidden;
    margin-top: 40px;
}
.reasons li {
    width: 285px;
    float: left;
}
.reasons li:nth-of-type(2) {
    margin: 0px 62px;
}
.reasons span {
    background: url(../img/red_circle.png);
    display: block;
    width: 226px;
    height: 171px;
    margin: 0 auto;
    font-family: Ubuntu; 
    color:  #ffffff;  font-size: 72px;   
    font-weight: 700; 
    text-align: center; 
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.75);
    padding-top: 65px;
}
.reasons p {
    font-family: Ubuntu; 
    color:  #1f1f1f;  
    font-size: 18px; 
    font-weight: 500;  text-align: center;
}
.reasons button{
    border-radius: 4px;
    background-color: #D5423A;
    width: 350px;
    height: 70px;
    border: none;
    font-family: Ubuntu;
    color: #ffffff;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px -1px 2px #A4ABB6;
    display: block;
    margin: 30px auto 0;
}
.reasons button:hover {
    box-shadow: 0px 0px 14px 0.00px #000000;
}
footer {
    background: #273449;
}
footer .wrapper {
    padding-top: 35px;
}
footer .left_column {
    width: 450px;
}
footer .questions {
    font-family: Ubuntu;
    color:  #ffffff; 
    font-size: 30px; 
    font-weight: 700; 
    text-align: left;
}
footer .social {
    overflow: hidden;
    margin: 35px 0;
}
footer .social li {
    float: left;
    margin-right: 10px;
}
footer a {
}
footer img {
}
footer p {
    font-family: Ubuntu;  color:  #ffffff;  font-size: 24px;  
    font-weight: 400;
}
footer .copyright {
    display: block;
    font-family: Ubuntu; 
    color:  #ffffff;  
    font-size: 14px; 
    font-weight: 400;
    margin-top: 35px;
}
footer .right_column {
    float: right;
    width: 270px;
}
footer .right_column span {
    display: block;
    font-family: Ubuntu; 
    color:  #ffffff; 
    font-size: 24px;  
    font-weight: 700;  
    text-align: right;
}
footer button {
    display: block;
    border-radius: 3px; 
    background: -webkit-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%); 
    background: -moz-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%); 
    background: -o-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%); 
    background: -ms-linear-gradient(90deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%); 
    background: linear-gradient(0deg, #dddddd 0%, #ffffff 100%, #e6e6e6 100%);   width: 225px;  height: 40px;
    float: right;
    margin-top: 30px;
    font-family: Ubuntu; 
    color:  #4a4a4a; 
    font-size: 14px;   
    font-weight: 700;  
    text-align: center;
}
footer ul.cards{
    overflow: hidden;
    float: right;
    margin-top: 60px;
}
footer ul.cards li{
    float: right;
    margin-left: 10px;
}

nav .log_in:hover,
nav .register:hover {
    box-shadow: 0px 1px 2px 0.00px rgba(0, 0, 0, 0.35);
}
footer button:hover {
    box-shadow: 0px 1px 2px 0.00px rgba(255, 255, 255, 0.35);
}
button:active{
    position: relative;
    top: 2px;
    box-shadow: none !important;
}
.main button:active{
    top: 47px;
    box-shadow: none;
}
button:focus {
    outline: none;


.btn{ 
    border:none; 
    border-radius:2px;
    background-color: #fff;
    margin:10px;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-default {
    border:1px solid #CCCCCC;
    color: #333333;
}
.btn, .ui-button, .icon-separator-vertical {
    box-shadow: none;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
