table.grid-view {
	margin: 0;
}
table.grid-view .button-column {
	width: 90px;
}
table.grid-view .button-column a {
	display: inline-block;
	margin: 0 4px;
}
table.grid-view .sort-link.desc:after,
table.grid-view .sort-link.asc:after {
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-size: 10px;
	margin-left: 3px;
}
table.grid-view .sort-link.asc:after {
	content: "\e113";
}
table.grid-view .sort-link.desc:after {
	content: "\e114";
}
table.detailed-view th {
	width: 30%;
}
.grid-view-loading th.button-column {
	background: url(../img/loading.gif) no-repeat center center;
}
.main-shortcuts .btn {
	display: block; 
	height: 120px; 
	margin-bottom: 15px;
}
.main-shortcuts .btn i {
	display: block;
	font-size: 32px;
	margin: 15px auto 10px auto;
	width: 24px;
}
.logout-btn {
	margin-left: 15px;
}
.thumb-placeholder {
	width: 148px;
	height: 98px;
	border: 1px solid #ddd;
	background: #eee;
}
.thumb-placeholder:before {
	content: "\e118";
	font-size: 64px;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	display: block;
	margin: 0 auto;
	width: 64px;
	text-align: center;
	color: #DDD;
}
table.grid-view .thumbnail,
table.detailed-view .thumbnail {
	text-decoration: none;
	display: inline-block;
	margin: 0;
}
.pagination-wrapper {
	text-align: center;
}
.image-picker.non-empty .image-picker-placeholder {
	display: none;
}
.image-picker.empty .image-picker-placeholder {
	display: inline-block; 
	border: 1px solid #ddd; 
	background: #eee; 
	text-align: center; 
	color: #666; 
	vertical-align: top; 
	min-width: 150px;
}
.image-picker img {
	display: inline-block; 
	vertical-align: top;
}
.image-picker .image-picker-clear {
	display: inline-block; 
	margin-left: 10px; 
	vertical-align: top;
}
.image-picker.empty .image-picker-clear {
	display: none;
}
.image-picker .thumbnail {
	display: inline-block;
	margin-bottom: 0;
}
.image-picker-dialog .items {
	margin-left: -24px;
}
.image-picker-dialog .thumbnail{
	display: inline-block;
	margin: 0 0 8px 24px;
}
.image-picker-dialog .pagination {
	margin-bottom: 0;
}
.image-picker-dialog .form-content {
	margin-bottom: 20px;
}
.image-picker-dialog .empty {
	padding-left: 24px;
}

body {
	font-size: 12px;
}
.registration{
    margin: 0 auto; 
    padding: 20px 0;
    position: relative;
    text-align: center; 
    width: 320px; 
    margin-top:90px; 
    border:2px solid #cccccc; 
    border-radius:5px; 
    padding:20px;
    background-color: #FFFFFF;
}
.panel-heading {
    padding: 15px;
    border-radius:0px;
}
.login_heading{
    background-color:#5DCFF3; 
    color:#FFFFFF; 
    margin-bottom:20px; 
    font-size:20px; 
    text-transform:uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.registration label {
    float: left; 
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px; 
    margin-bottom: 10px;
}
.form-control { 
    font-size: 12px;
    line-height: 1.42857;
    background:#FFFFFF;
    height: 30px; 
    border-radius:0px;
    box-shadow:none;
    width: 100%;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 92%;
}
.btn{ 
    border:none; 
    border-radius:2px;
    background-color: #fff;
    margin:10px;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-default {
    border:1px solid #CCCCCC;
    color: #333333;
}
.btn, .ui-button, .icon-separator-vertical {
    box-shadow: none;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.parsley-error {
    border-color: #CC0000 !important;
}
.parsley-error-label {
    color: #cc0000;
    list-style: outside none none;
    padding: 0;
}
nav a
{
    text-decoration: none;
}
.white-popup-block input[type="checkbox"]{
    opacity: 1;
}
