To: alexone@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=42&amp;conString=eb923552df23c3480376d0e795e9f3f9">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=42&amp;conString=eb923552df23c3480376d0e795e9f3f9">Удалить</a>    
</span>

------Message Boundary------

