To: joshua@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/site/confirmSignup?id=27&amp;conString=41da007d346400ea72099dc410a41cb7">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/site/deleteRegister?id=27&amp;conString=41da007d346400ea72099dc410a41cb7">Удалить</a>    
</span>

------Message Boundary------

