To: alexpetrov-95@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=40&amp;conString=2358fa7969fd6c90b1fc6e42b14a7263">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=40&amp;conString=2358fa7969fd6c90b1fc6e42b14a7263">Удалить</a>    
</span>

------Message Boundary------

