To: 
Subject: registration

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=57&amp;conString=d0e31aa4add7e9c12c5d4cf723013053">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=57&amp;conString=d0e31aa4add7e9c12c5d4cf723013053">Удалить</a>    
</span>