To: test_Anton@gmail.com
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=31&amp;conString=fd9d86b364a929530e2bb0e2c8ea9619">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=31&amp;conString=fd9d86b364a929530e2bb0e2c8ea9619">Удалить</a>    
</span>

------Message Boundary------

