To: alex@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=41&amp;conString=cf10adfd3d0cf66e52fc007b2d41b813">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=41&amp;conString=cf10adfd3d0cf66e52fc007b2d41b813">Удалить</a>    
</span>

------Message Boundary------

