To: mashamasha@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="/site/confirmSignup?id=18&amp;conString=128dc8073691c2d871cb365dc6fc0297">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="/site/deleteRegister?id=18&amp;conString=128dc8073691c2d871cb365dc6fc0297">Удалить</a>    
</span>

------Message Boundary------

