To: kiskaLenina@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/site/admin/user/profile?id=30&amp;conString=c9336676c2d856ef6ace1f211fb42ae6">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/site/admin/user/deleteRegister?id=30&amp;conString=c9336676c2d856ef6ace1f211fb42ae6">Удалить</a>    
</span>

------Message Boundary------

