To: tERstik@gmail.com
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=37&amp;conString=7c6283caf45595d3843fe8ad49caba90">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=37&amp;conString=7c6283caf45595d3843fe8ad49caba90">Удалить</a>    
</span>

------Message Boundary------

