To: asdfhjkas@mailer.sdf
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=34&amp;conString=18997ca35dd191a0cce726581139e65d">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=34&amp;conString=18997ca35dd191a0cce726581139e65d">Удалить</a>    
</span>

------Message Boundary------

