To: 
Subject: registration

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=56&amp;conString=91853db13de2af8da40d1e41c3777944">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=56&amp;conString=91853db13de2af8da40d1e41c3777944">Удалить</a>    
</span>