To: 
Subject: registration

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=58&amp;conString=1a723f89abb2b0f2c24c4933a4340baa">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=58&amp;conString=1a723f89abb2b0f2c24c4933a4340baa">Удалить</a>    
</span>