To: fgsdfg@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="/site/confirmSignup?id=25&amp;conString=6d3fe84569a41d09041b2ece87e0bb57">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="/site/deleteRegister?id=25&amp;conString=6d3fe84569a41d09041b2ece87e0bb57">Удалить</a>    
</span>

------Message Boundary------

