To: alexkolin@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=47&amp;conString=9cd4c989cd3243f621b0f2ad0dec41bf">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=47&amp;conString=9cd4c989cd3243f621b0f2ad0dec41bf">Удалить</a>    
</span>

------Message Boundary------

