To: kiskamiliska@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=46&amp;conString=8d21c77c049d1ffc19d6bc89b3135d6e">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=46&amp;conString=8d21c77c049d1ffc19d6bc89b3135d6e">Удалить</a>    
</span>

------Message Boundary------

