To: polka@yahoo.ry
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=36&amp;conString=6d8297059adfaef31fd4ca40fedd8581">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=36&amp;conString=6d8297059adfaef31fd4ca40fedd8581">Удалить</a>    
</span>

------Message Boundary------

