To: didko@mail.eu
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=33&amp;conString=d531688774d524a2ab7e52f92cb52b0e">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=33&amp;conString=d531688774d524a2ab7e52f92cb52b0e">Удалить</a>    
</span>

------Message Boundary------

