To: kiskpupkin@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=45&amp;conString=d53ec01548d77d3b9b08d18f89b1da9f">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=45&amp;conString=d53ec01548d77d3b9b08d18f89b1da9f">Удалить</a>    
</span>

------Message Boundary------

