To: sdfaasdf@mail.er
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=32&amp;conString=e68b9b5a1560cdc6d0f2a6817e184b04">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=32&amp;conString=e68b9b5a1560cdc6d0f2a6817e184b04">Удалить</a>    
</span>

------Message Boundary------

