To: alexkopeyka@yahoo.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=43&amp;conString=7021700107ee93e518281446b1f408e3">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=43&amp;conString=7021700107ee93e518281446b1f408e3">Удалить</a>    
</span>

------Message Boundary------

