To: pidar@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="/site/confirmSignup?id=26&amp;conString=cb000318b33f6341a40ac01ddb8933dc">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="/site/deleteRegister?id=26&amp;conString=cb000318b33f6341a40ac01ddb8933dc">Удалить</a>    
</span>

------Message Boundary------

