To: hunkima@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=50&amp;conString=7b3c5ed37ead4e8445a205fa712b05d3">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=50&amp;conString=7b3c5ed37ead4e8445a205fa712b05d3">Удалить</a>    
</span>