To: kiska@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/site/confirmSignup?id=28&amp;conString=41830c892e2e9e7eb911bebe44f26aaf">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/site/deleteRegister?id=28&amp;conString=41830c892e2e9e7eb911bebe44f26aaf">Удалить</a>    
</span>

------Message Boundary------

