To: vasuPupkin@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/site/confirmSignup?id=29&amp;conString=c1bb24c568b9304dd5ef31f94f70a734">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/site/deleteRegister?id=29&amp;conString=c1bb24c568b9304dd5ef31f94f70a734">Удалить</a>    
</span>

------Message Boundary------

