To: alexpetrov-95@mail.ru
Subject: register

<!--  в данное тело  стот передавать $id пользователя  -->
<p>
    Здравствуйте!
    <br> 
</p>
<span>
    Это письмо отправлено Вам, поскольку Вы регестрировались в LeadCR.
    Пожалуйста подтвердите регистрацию  перейдя по ссылке  <a href="http://crm/admin/user/profile?id=35&amp;conString=506c5bbc587070c2556bbe1d0543ea25">Подтвердить</a> 
    <br>  Или  удалить профиль  если вас не интересует  система  <a href="http://crm/admin/user/deleteRegister?id=35&amp;conString=506c5bbc587070c2556bbe1d0543ea25">Удалить</a>    
</span>

------Message Boundary------

