To: admin@example.com
Subject: Shipment

<h1>
    Hello My dear  friends
</h1>
<span>
   Вы  получили  данное уведомление так как зарегестрированы в системе LeadCRM
   Пожалуйста перейдите по ссылке 
    </span>